numpy~=1.20.2
opencv-python~=4.5.1.48
PyYAML==5.4.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cpu
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.8/index.html
detectron2==0.4+cpu

matplotlib~=3.4.1
Pillow>=8.3.2

tqdm~=4.59.0